body {
  font-family: Lato, sans-serif;
  color: #000;
  font-weight:300;
}
p {
  font-size:12pt;
  line-height: 15pt;
}
h1 {
  font-family: Alice, serif;
  font-size: 3em;
  text-align:center;
  margin-bottom: 100px;
}
h2{
  font-family: Lato, sans-serif;
  font-size:16pt;
  font-weight:300;
  line-height: 19pt;
  border-top: 1px dotted #B0B0B0;
  padding-top: 20px;
}
h3{
  font-family: Lato, sans-serif;
  font-size:1.4em;
  font-weight:300;
  line-height: 0.8em;
}

/*start all link styline*/

a{
  font-weight: 400;
  color: #000;
  text-decoration:underline;
}

a:hover {
  color: #000;
  text-decoration:none;
  background-color: #f2f2f2;
}

a:visited{
  font-weight: 400;
  color: #000;
  text-decoration:underline;
}

a.image-link:hover {
  background-color: #fff;
}

a.about-link {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

a.about-link:hover {
  text-decoration: underline;
  background-color: transparent;
}

a.about-link:visited {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

a.home {
  font-family: font-family: Alice, serif;
  color: #000;
  text-decoration: none;
}
/*end of all link styling!*/


.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.title {
  width:20%;
  margin-top: 20px;
  border-right: 1px dotted #B0B0B0;
  padding: 20px;
}
.gallery {
  width:100%;
  padding: 20px;
}
.nav {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: auto;
  margin-top:-10px;
  margin-left: 90%;
  padding: 15px;
  z-index: 10;
  text-align: center;
}
.nav p{
  margin:0px;
}
.thumbnail {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px dotted #B0B0B0;
  margin-bottom: 20px;
}
.thumbnail img {
  box-sizing: border-box;
  padding: 0px 20px 20px 0px;
  max-width: 100%;
  min-width:300px;
}
.ratiotest{
  width:75%;
  height:auto;
  flex-shrink: 0;
}

.thumbnail p{
  display:flex;
  width: 25%;
  margin:0;
  flex-wrap: wrap;
  min-width:200px;
  padding-bottom:20px;
}
